* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #ff2e63;
}

h2 {
  color: black;
}

body {
  background: white;
}

a {
  color: white;
  text-decoration: none;
}

button {
  background-color: #ff2e63;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 16px;
  cursor: pointer;
}
