.canvasContainer {
  background: #ffffff;
  height: 100vh;
  width: 100vw;
}

.arrowControls {
  display: flex;
  background: #ff2e63;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.arrowControl {
  margin: 10px;
  cursor: pointer;
}

.topNav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #ff2e63;
}

.topNav button {
  background: #ff2e63;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.centered {
  display: flex;
  gap: 10px;
  align-items: center;
}

.unauthenticated {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  padding-top: 8rem;
}

.unauthenticated a {
  color: blueviolet;
  border-radius: 12px;
  border: 2px solid pink;
  padding: 6px;
}

#patternsPage {
  padding: 32px;
}

.patternCard {
  border-radius: 12px;
  border: 2px solid pink;
  max-width: 400px;
  line-break: anywhere;
}
.patternCard > div {
  border-top: 2px solid pink;
}
